body {
    margin: auto;
    background-color: rgb(249, 186, 213);
    padding: 50px;
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: 0.65cm;

}

button {
    font-size: 0.5cm;
    border-radius: 11px;
    color: rgb(40, 40, 40);
    background-color: rgb(249, 198, 223);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

table {
    border-collapse: collapse;
    border: 2px rgb(44, 44, 44);
    border-style: solid;

}

table,
th,
td {
    text-align: center;
    font-size: 40px;
    margin-left: auto;
    margin-right: auto;
    color: rgb(215, 215, 215);
    background-color: rgb(44, 44, 44);
}

td {
    height: 70px;
    width: 70px;

}

h1 {
    text-align: center;
    font-size: 1.7cm;
    color: rgb(75, 9, 52);
}

.emptyTile {
    background-color: rgb(215, 215, 215);
    border-color: rgb(255, 224, 236);
    border-style: dotted;
}